.section-footer {
  display: flex;
  padding-bottom: 81px;
  width: 1300px;
  background: #f9f9fb;
}

.section-footer__logo {
  gap: 50px 50px;
}

.section-footer__table {
  display: flex;
  justify-content: space-between;
  padding-left: 164px;
  gap: 22px 50px;
}

.section-footer__logo-pic {
  padding-bottom: 26px;
}

.section-footer__logo-p {
  padding-bottom: 55px;
}

.section-footer__column-one {
  display: flex;
  flex-direction: column;
  padding-right: 159px;
}

.section-footer__column-two {
  display: flex;
  flex-direction: column;
  padding-right: 132px;
}

.section-footer__column-three {
  display: flex;
  flex-direction: column;
}

.section-footer__icon {
  display: flex;
  gap: 0px 35px;
  padding-bottom: 32px;
  padding-top: 30px;
  align-items: center;
}
