.footer {
  padding-top: 78px;
  background-color: #f9f9fb;
}

.section-footer {
  display: flex;
  padding-bottom: 27px;
}

.section-footer__table {
  display: flex;
  justify-content: space-between;
  margin-left: 198px;
  margin-top: -7px;
  margin-bottom: 46px;
}

.section-footer__logo-pic {
  padding-bottom: 26px;
}

.section-footer__logo-p {
  padding-bottom: 55px;
}

.section-footer__column-one {
  display: flex;
  flex-direction: column;
  padding-right: 173px;
}

.section-footer__column-two {
  display: flex;
  flex-direction: column;
  padding-right: 148px;
}

.section-footer__column-three {
  display: flex;
  flex-direction: column;
}

.section-footer__icon {
  display: flex;
  gap: 0px 35px;
  margin-bottom: 32px;
  margin-top: 30px;
  margin-left: 554px;
  align-items: center;
}
