.section-footer {
    display: flex;
    padding-bottom: 171px;
}

.section-footer__table {
    padding-left: 108px;
    display: flex;
    justify-content: space-between;
}

.section-footer__column-one {
    
}