  header{
    position: absolute;
    width: 1306px;
    height: 786px;
    left: 189px;
    top: 35px;
  }
  
  .header__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .container{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 51px;
  }

  .header-link {
    margin-left: 34px;
    margin-right: 34px;
    color: #B8BECD;
  }

  .header-link:hover {
    color: black;
  }
  
  a,
  a:hover {
    text-decoration: none;
  }

  input {
    outline: none;
  }
  
  .flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
 }

 .Header__select1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
 }

select{
  box-sizing: border-box;
  width: 220px;
  height: 52px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
 }

 .flex-container__left1{
  margin-top: 51px;
 }