.mimg::after {
  /* элементы с первого блока(кружки, крестики) */
  position: absolute;
  content: url("/Image/element2.webp");
  left: 465px;
  bottom: 603px;
}

.mimg2::before {
  /* элементы с первого блока(кружки, крестики) */
  position: absolute;
  content: url("/Image/element3.webp");
  top: 581px;
  left: 539px;
}

.mimg3::before {
  /* элементы с первого блока(кружки, крестики) */
  position: absolute;
  content: url("/Image/element3.webp");
  left: -106px;
  top: 293px;
}

.mimg4::after {
  /* эл-ты в New way */
  position: absolute;
  content: url("/Image/element2.webp");
  left: 737px;
  bottom: -56px;
}

.mimg5::before {
  /* эл-ты в New way */
  position: absolute;
  content: url("/Image/element3.webp");
  right: 61px;
  top: 254px;
}

.mimg6::after {
  /* эл-ты в Featured */
  position: absolute;
  content: url("/Image/element3.webp");
  left: 978px;
  bottom: 620px;
}

.mimg7::before {
  /* эл-ты в Featured */
  position: absolute;
  content: url("/Image/element3.webp");
  left: 500px;
  top: 378px;
}

.mimg8::after {
  /* эл-ты в Featured */
  position: absolute;
  content: url("/Image/element2.webp");
  left: -70px;
  top: 298px;
}

.mimg9::after {
  /* эл-ты в Guides */
  position: absolute;
  content: url("/Image/element2.webp");
  top: 267px;
  left: 419px;
}

.mimg10::after {
  /* эл-ты в Guides */
  position: absolute;
  content: url("/Image/element3.webp");
  bottom: 429px;
  left: 42px;
}

.mimg11::after {
  /* эл-ты в Guides */
  position: absolute;
  content: url("/Image/element2.webp");
  left: 656px;
  top: 32px;
}

.mimg12::after {
  /* эл-ты в Testimonial */
  position: absolute;
  content: url("/Image/element3.webp");
  right: 523px;
  top: 174px;
}

.mimg13::after {
  /* эл-ты в Trending */
  position: absolute;
  content: url("/Image/element2.webp");
  left: 403px;
  bottom: 75px;
}

.mimg14::after {
  /* эл-ты в Trending */
  position: absolute;
  content: url("/Image/element3.webp");
  right: 338px;
  top: 15px;
}

.mimg15::after {
  /* эл-ты в Trending */
  position: absolute;
  content: url("/Image/element3.webp");
  top: 79px;
  left: 167px;
}
