.mimg::after {
  /* элементы с первого блока(кружки, крестики) */
  position: absolute;
  content: url("/Image/element2.webp");
  left: 450px;
  top: 260px;
}

.mimg2::before {
  /* элементы с первого блока(кружки, крестики) */
  position: absolute;
  content: url("/Image/element3.webp");
  width: 25px;
  left: 450px;
}

.mimg3::before {
  /* элементы с первого блока(кружки, крестики) */
  position: absolute;
  content: url("/Image/element3.webp");
  width: 20px;
  height: 20px;
  left: 550px;
  top: 100px;
}

.mimg4::after {
  position: absolute;
  content: url("/Image/element2.webp");
  left: 750px;
  bottom: 500px;
}

.mimg5::before {
  position: absolute;
  content: url("/Image/element3.webp");
  left: 1200px;
  top: 250px;
}

.mimg6::after {
  position: absolute;
  content: url("/Image/element3.webp");
  left: 550px;
  top: 50px;
}

.mimg7::before {
  position: absolute;
  content: url("/Image/element3.webp");
  left: 1100px;
  bottom: 70px;
}

.mimg8::after {
  position: absolute;
  content: url("/Image/element2.webp");
  left: 600px;
  bottom: 350px;
}

.mimg9::before {
  position: absolute;
  content: url("/Image/element3.webp");
  left: 50px;
  top: 47px;
}

.mimg10::after {
  position: absolute;
  content: url("/Image/element2.webp");
  left: 358px;
  bottom: 700px;
}

.mimg11::before {
  position: absolute;
  content: url("/Image/element3.webp");
  left: 850px;
  bottom: 150px;
}
