.guides__flex {
  display: flex;
  margin-bottom: 218px;
  margin-left: 151px;
  margin-top: 218px;
}

.guides__right {
  display: flex;
  flex-direction: column;
}

.guides__text-right {
  margin-top: 20px;
}

.guides__btn {
  margin-top: 39px;
}

.guides__img {
  margin-left: 170px;
  margin-top: -153px;
}
