.trending__flex {
  position: relative;
  margin-bottom: 269px;
  margin-left: 152px;
  margin-right: 200px;
}

.trending__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending__header-view {
  display: flex;
  justify-content: space-between;
  margin-right: -46px;
  margin-top: 6px;
}

.trending__header-vector {
  margin-left: 11px;
}

.trending__photo {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 25px;
  margin-top: 56px;
}

.trending__subtitle {
  position: relative;
  display: flex;
  margin-top: 14px;
}

.trending__subtitle--paragraph {
  position: relative;
  display: flex;
  margin-top: 13px;
}

.trending__photo-img {
  position: relative;
  display: flex;
  width: 261px;
  height: 231px;
}

.readmore .trending__photo-img p {
  color: #7d7987;
  mix-blend-mode: normal;
}

.readmore {
  display: flex;
  margin-top: 20px;
}
