.featured__flex {
  position: relative;
  padding-bottom: 173px;
}

.featured__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 53px;
  margin-left: 49px;
  margin-right: 47px;
}

.featured__header-view {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 5px;
}

.featured__header-vector {
  margin-left: 11px;
}

.featured__img {
  display: flex;
  padding-left: 50px;
  gap: 0px 26px;
}

.featured__img-icon {
  position: relative;
  display: flex;
}

.featured__text {
  color: black;
  position: absolute;
  left: 0px;
  bottom: 19px;
}

.featured__text-back {
  position: absolute;
  color: rgba(128, 145, 142, 1);
}
