.testimonials__flex {
  position: relative;
  display: flex;
  padding-top: 135px;
  padding-bottom: 285px;
  margin-left: 180px;
}

.testimonials__title {
  position: absolute;
  bottom: 552px;
}

.testimonials__right {
  position: relative;
  flex-direction: column;
}

.testimonials__right img {
  position: relative;
  padding-bottom: 30px;
}

.testimonials__text--right {
  position: relative;
  margin-top: 84px;
}

.testimonials__text--edward {
  margin-top: 40px;
}

.testimonials__text--back {
  margin-top: -15px;
  color: rgba(0, 0, 0, 0.85);
  mix-blend-mode: normal;
}

.testimonials__img {
  margin-left: 234px;
}
