.section-trending__flex {
    padding-bottom: 285px;
}

.section-trending__photo {
    display: flex;
    justify-content: space-between;
}

.section-trending__photo-img {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.section-trending__photo-img p {
    color: #7D7987;
    mix-blend-mode: normal;
}

.link-for-section a {
    padding-top: 20px;
}