.newway__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 292px;
  margin-top: 244px;
  margin-right: 205px;
  margin-left: 54px;
}

.newway__right {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 102px;
}

.newway__btn {
  margin-top: 29px;
}
