
.section-testimonials__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 248px;
}

.section-testimonials__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-testimonials__right img {
    padding-bottom: 30px;
}

.section-testimonials__text-back {
        bottom: 110px;
        color: rgba(0, 0, 0, 0.85);
        mix-blend-mode: normal;
}