.featured__flex {
  position: relative;
  padding-bottom: 173px;
}

.featured__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
  margin-left: 50px;
  margin-right: 50px;
}

.featured__img {
  display: flex;
  justify-content: space-between;
}

.featured__header-view {
  display: flex;
  align-items: center;
}

.featured__header-vector {
  margin-left: 11px;
}

.featured__text {
  color: black;
  position: absolute;
  left: 0px;
  bottom: 19px;
}

.featured__text-back {
  position: absolute;
  color: rgba(128, 145, 142, 1);
}
