.newway__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 292px;
  margin-top: 245px;
  margin-right: 225px;
}

.newway__left {
  padding-right: 102px;
  margin-left: 54px;
}

.newway__right {
  position: relative;
  display: flex;
  flex-direction: column;
}

.newway__btn {
  margin-top: 39px;
}
