.header__but {
  color: white;
  background: #f88f1d;
  border-radius: 8px;
  border: 1px solid transparent;
  width: 132px;
  transition: all 0.1s linear;
}
.header__but:hover {
  border: 1px solid #f88f1d;
  border-radius: 8px;
  color: #f88f1d;
  background: transparent;
}

.link-for-section {
  color: rgba(251, 143, 29, 1);
}
