.header__but {
    font-family: 'Inter';    /* шрифты */
    font-style: normal;
    font-weight: 500;
    font-size: 15px;        /*КОНЕЦ шрифтов */
    line-height: 44px;
    color: white;
    background: #F88F1D;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 132px;
    transition: all 0.1s linear;
  }
  .header__but:hover {
    border: 1px solid #F88F1D;
    border-radius: 8px;
    color: #F88F1D;
    background: transparent;
  }